<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.xikolo"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="de.xikolo.config.CastOptionsProvider" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".receivers.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.DownloadCompletedReceiver"
            android:label="DownloadCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NotificationDeletedReceiver"
            android:exported="false"
            android:label="NotificationDeletedReceiver">
            <intent-filter>
                <action android:name="de.xikolo.intent.action.NOTIFICATION_DELETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".utils.FileProviderUtil"
            android:authorities="de.xikolo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".controllers.main.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeTranslucentStatus">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_host"
                    android:pathPattern="/news"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/dashboard"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.course.CourseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses/..*/resume"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses/..*/pinboard"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses/..*/progress"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses/..*/learning_rooms"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses/..*/announcements"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.course.CourseDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity"
            android:theme="@style/AppThemeTranslucentStatus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.announcement.AnnouncementActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeTranslucentStatus" />
        <activity
            android:name=".controllers.login.LoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity"
            android:theme="@style/AppThemeTranslucentStatusAndNavigation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.login.SsoLoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.login.LoginActivity" />
        </activity>
        <activity
            android:name=".controllers.course_items.CourseItemsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.course.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.course.CourseActivity" />
        </activity>
        <activity
            android:name=".controllers.video.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.course_items.CourseItemsActivity"
            android:theme="@style/AppThemeDarkStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.course_items.CourseItemsActivity" />
        </activity>
        <activity
            android:name=".controllers.webview.WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".controllers.downloads.DownloadsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.settings.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>

        <!-- SECOND SCREEN -->

        <activity
            android:name=".controllers.second_screen.SecondScreenActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.second_screen.QuizActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.second_screen.SecondScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.second_screen.SecondScreenActivity" />
        </activity>
        <activity
            android:name=".controllers.second_screen.PinboardActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.second_screen.SecondScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.second_screen.SecondScreenActivity" />
        </activity>
        <activity
            android:name=".controllers.second_screen.SlideViewerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.second_screen.SecondScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.second_screen.SecondScreenActivity" />
        </activity>
        <activity
            android:name=".controllers.second_screen.TranscriptViewerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.second_screen.SecondScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.second_screen.SecondScreenActivity" />
        </activity>

        <!-- CAST -->

        <activity
            android:name=".controllers.cast.CastActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".controllers.course_items.CourseItemsActivity"
            android:theme="@style/AppThemeDarkStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.course_items.CourseItemsActivity" />
        </activity>

    </application>

</manifest>
