<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.xikolo"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="de.xikolo.config.CastOptionsProvider" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".receivers.CancelDownloadsReceiver"
            android:label="CancelDownloadsReceiver" />

        <receiver
            android:name=".utils.ShareBroadcastReceiver"
            android:label="ShareBroadcastReceiver" />

        <receiver
            android:name=".receivers.NotificationDeletedReceiver"
            android:exported="false"
            android:label="NotificationDeletedReceiver">
            <intent-filter>
                <action android:name="de.xikolo.intent.action.NOTIFICATION_DELETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".utils.FileProviderUtil"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.DownloadService"
            android:description="@string/service_download"
            android:exported="false" />

        <activity
            android:name=".controllers.main.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeTranslucentStatus">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_host"
                    android:pathPattern="/news"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses"
                    android:scheme="https" />
                <data
                    android:host="@string/app_host"
                    android:pathPattern="/dashboard"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.channels.ChannelDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity"
            android:theme="@style/AppThemeTranslucentStatus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.course.CourseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_host"
                    android:pathPattern="/courses/..*"
                    android:scheme="https" />

                <data
                    android:host="@string/app_host"
                    android:pathPattern="/learn"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.announcement.AnnouncementActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeTranslucentStatus" />
        <activity
            android:name=".controllers.login.LoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity"
            android:theme="@style/AppThemeTranslucentStatusAndNavigation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.login.SsoLoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.login.LoginActivity" />
        </activity>
        <activity
            android:name=".controllers.section.CourseItemsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.course.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.course.CourseActivity" />
        </activity>
        <activity
            android:name=".controllers.video.VideoStreamPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:parentActivityName=".controllers.main.MainActivity"
            android:theme="@style/AppThemeDarkStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.video.VideoItemPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:parentActivityName=".controllers.section.CourseItemsActivity"
            android:theme="@style/AppThemeDarkStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.section.CourseItemsActivity" />
        </activity>
        <activity
            android:name=".controllers.webview.WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".controllers.downloads.DownloadsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.settings.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controllers.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.main.MainActivity" />
        </activity>

        <!-- CAST -->

        <activity
            android:name=".controllers.cast.CastActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".controllers.section.CourseItemsActivity"
            android:theme="@style/AppThemeDarkStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.section.CourseItemsActivity" />
        </activity>

    </application>

</manifest>
