<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.xikolo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".util.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE">
                    <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeTranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${webUrl}"
                    android:pathPattern="/news"
                    android:scheme="https" />
                <data
                    android:host="${webUrl}"
                    android:pathPattern="/courses"
                    android:scheme="https" />
                <data
                    android:host="${webUrl}"
                    android:pathPattern="/dashboard"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.CourseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${webUrl}"
                    android:pathPattern="/courses/..*/resume"
                    android:scheme="https" />
                <data
                    android:host="${webUrl}"
                    android:pathPattern="/courses/..*/pinboard"
                    android:scheme="https" />
                <data
                    android:host="${webUrl}"
                    android:pathPattern="/courses/..*/progress"
                    android:scheme="https" />
                <data
                    android:host="${webUrl}"
                    android:pathPattern="/courses/..*/learning_rooms"
                    android:scheme="https" />
                <data
                    android:host="${webUrl}"
                    android:pathPattern="/courses/..*/announcements"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.CourseDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".controller.LoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".controller.ModuleActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CourseActivity" />
        </activity>
        <activity
            android:name=".controller.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.ModuleActivity"
            android:theme="@style/AppThemeDarkStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ModuleActivity" />
        </activity>
        <activity
            android:name=".controller.DownloadsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".controller.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.google.android.libraries.cast.companionlibrary.cast.player.VideoCastControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName="de.xikolo.controller.ModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDarkStatusBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.xikolo.controller.CourseDetailsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name="com.google.android.libraries.cast.companionlibrary.remotecontrol.VideoIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.toggleplayback" />
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.stop" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.libraries.cast.companionlibrary.notification.VideoCastNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.notificationvisibility" />
            </intent-filter>
        </service>

        <service android:name="com.google.android.libraries.cast.companionlibrary.cast.reconnection.ReconnectionService" />

    </application>

</manifest>
